[submodule "repos/FastCode"]
	path = repos/FastCode
	url = https://github.com/HKUDS/FastCode.git
[submodule "repos/morris"]
	path = repos/morris
	url = https://github.com/marcbrooker/morris.git
[submodule "repos/rig"]
	path = repos/rig
	url = https://github.com/0xPlaygrounds/rig
[submodule "repos/voicemode"]
	path = repos/voicemode
	url = https://github.com/mbailey/voicemode
[submodule "repos/gstack"]
	path = repos/gstack
	url = https://github.com/garrytan/gstack
[submodule "repos/context-hub"]
	path = repos/context-hub
	url = https://github.com/andrewyng/context-hub
[submodule "repos/MiroFish"]
	path = repos/MiroFish
	url = git@github.com:666ghj/MiroFish.git
[submodule "repos/BettaFish"]
	path = repos/BettaFish
	url = https://github.com/666ghj/BettaFish
